<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LAUNCHD_LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BIN__</string>
    <string>-m</string>
    <string>http.server</string>
    <string>__SERVICE_PORT__</string>
    <string>--bind</string>
    <string>__SERVICE_HOST__</string>
    <string>--directory</string>
    <string>__CURRENT_RELEASE__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__CURRENT_RELEASE__</string>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/stderr.log</string>
</dict>
</plist>
